name: Deploy repository to Github Pages

on:
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout develop
      uses: actions/checkout@v6
      with:
        path: develop
        ref: master
        fetch-depth: 0
    - name: Build develop
      run: |
        cd develop
        ./build_site.sh ../_site/develop
    - name: copy develop to stable
      run: |
        cp -r _site/develop _site/stable
    - uses: actions/setup-node@v6
      with:
        node-version: latest
    - name: Generate html index page
      run: |
        cd develop/site_generator
        npm i -g ts-node
        npm ci
        npm run ci-build
        cp -r site/* ../../_site/
    - uses: actions/upload-pages-artifact@v4
      with:
        path: '_site'
    
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
